@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:400,400i|Playfair+Display:700');
//@lost rounder 99.99999;
//@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');

$pink: #fff7f7;
$red: #c70b1d;
$yellow: #f9fed6;
$redtwo: #ea3d3d;
$pink-dark: #fef0f0;
$blue: #004695;
$musk: #c5adc2;
$gold: #dda643;
$purple: #a56f8d;

body {
  //background: $yellow;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: $redtwo;
}
p {
  font-family: 'Roboto', sans-serif;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gallery-wrapper {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  // //grid-auto-rows: 20px;
  // grid-gap: 10px;
  column-count: 3;
  column-gap: 30px;
  width: 100%;
  @media screen and (max-width: 992px) {
    column-count: 2;
  }
  @media screen and (max-width: 460px) {
    column-count: 1;
  }
  //grid-auto-rows: 300px;
  .art-gallery {
    padding: 1rem;
    list-style-type: none;
  }
}

.header-nav {
  width: 100%;
  background: white;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 12rem;
  border-bottom: solid 1px rgba(211, 211, 211, 0.24);
}

img {
  width: 100%;
}

p.art-title {
  color: grey;
  font-size: 14px;
  font-weight: lighter;
}

.gender {
  margin-top: 20px;
}

.search  {
  form {
    position: relative;
  }
  .input-field {
    width: 100%;
    height: 3rem;
    border-radius: 12px;
    border: none;
    padding: 10px;
    margin-bottom: 3rem;
    box-shadow: -4px 4px 7px -8px rgba(0, 0, 0, 0.75);
  }
  .submit-button {
    height: 3rem;
    background: $red;
    color: $pink;
    border: none;
    color: white;
    position: absolute;
    right: 1px;
    border-radius: 0 10px 10px 0;
    padding: 0 1rem;
    &:hover,
    &:active,
    &:focus {
      background: darken($red, 5%);
      cursor: pointer;
    }
  }
}

.pagination {
  padding: 50px 0;
  //position: relative;
  ul li {
    display: inline-block;
    margin-right: 20px;
    a {
      color: $red;
      display: block;
      border-radius: 3px;
      background: white;
      padding: 0.5rem 1rem;
      &:hover {
        background: $red;
        color: white;
        text-decoration: none;
      }
    }
  }
  ul {
    //margin-bottom: 5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  h4 {
    display: inline-block;
    text-align: center;
  }
}

.footer {
  padding: 50px 0;
  .footer-container {
    width: 100%;
    text-align: center;
    h4 {
      font-size: 1rem;
    }
  }
}

.gender-count {
  background: $purple;
  color: $pink;
  padding: 1rem;
  border-right: 8px solid $gold;
  position: fixed;
  top: 90px;
  left: 0;
  z-index: 9;
  ul {
    list-style-type: none;
    padding: 0;
  }
  h6 {
    color: $pink;
  }
  .gender-label {
    font-family: 'Playfair Display', serif;
    color: $pink;
  }
}
